<html>

<head>Form</head>

<body>
    <form action="/signup" method="POST">
        <input type="text" placeholder="username" name="username" required><br>
        <input type="password" placeholder="password" name="pass" required><br>
        <input type="text" placeholder="name" name="name" required><br>
        <input type="email" placeholder="email" name="email" required><br>
        <input type="number" placeholder="mobile" name="mobile" required><br>
        <input type="date" placeholder="birthday" name="birthdate" required><br>
        <input type="text" placeholder="city" name="city" required><br>
        <button type="submit">Signup</button><br>

    </form>
</body>

</html>